<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xaaef.robin.mapper.SysDictTypeMapper">

    <resultMap id="BaseResultMap" type="com.xaaef.robin.entity.SysDictType">
        <id property="typeId" column="type_id" jdbcType="BIGINT"/>
        <result property="typeName" column="type_name" jdbcType="VARCHAR"/>
        <result property="typeKey" column="type_key" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="BIGINT"/>
        <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
        <result property="lastUpdateUser" column="last_update_user" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        type_id,type_name,type_key,
        description,create_time,create_user,
        last_update_time,last_update_user
    </sql>

</mapper>
