<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifsaid.admin.mapper.SysPermissionMapper">

  <resultMap id="BaseResultMap" type="com.ifsaid.admin.entity.SysPermission">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="father" jdbcType="INTEGER" property="father" />
    <result column="resources" jdbcType="VARCHAR" property="resources" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="up_time" jdbcType="TIMESTAMP" property="upTime" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
  </resultMap>

  <sql id="Base_Column_List">
    `pid`, `father`, `resources`, `title`, `icon`, `type`, `add_time`, `up_time`, `describe`
  </sql>

  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_permission
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_permission
    where pid = #{pid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_permission
    where pid = #{pid,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.ifsaid.admin.entity.SysPermission">
    <selectKey keyProperty="pid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_permission (father, resources, title, 
      icon, type, add_time, 
      up_time, describe)
    values (#{father,jdbcType=INTEGER}, #{resources,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, 
      #{upTime,jdbcType=TIMESTAMP}, #{describe,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.ifsaid.admin.entity.SysPermission">
    <selectKey keyProperty="pid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_sys_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="father != null">
        father,
      </if>
      <if test="resources != null">
        resources,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="upTime != null">
        up_time,
      </if>
      <if test="describe != null">
        describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="father != null">
        #{father,jdbcType=INTEGER},
      </if>
      <if test="resources != null">
        #{resources,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTime != null">
        #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.ifsaid.admin.entity.SysPermission">
    update t_sys_permission
    <set>
      <if test="father != null">
        father = #{father,jdbcType=INTEGER},
      </if>
      <if test="resources != null">
        resources = #{resources,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTime != null">
        up_time = #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="describe != null">
        describe = #{describe,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.ifsaid.admin.entity.SysPermission">
    update t_sys_permission
    set father = #{father,jdbcType=INTEGER},
      resources = #{resources,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      up_time = #{upTime,jdbcType=TIMESTAMP},
      describe = #{describe,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>

</mapper>