<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ifsaid.admin.mapper.SysUserMapper">

  <resultMap id="BaseResultMap" type="com.ifsaid.admin.entity.SysUser">
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="up_time" jdbcType="TIMESTAMP" property="upTime" />
    <result column="dept" jdbcType="INTEGER" property="dept" />
    <collection property="roles" ofType="SysRole">
      <id column="rid" property="rid"/>
      <result column="name" property="name"/>
      <result column="describe" property="describe"/>
    </collection>
  </resultMap>

  <sql id="Base_Column_List">
    uid, avatar, username, nickname, password, phone, mail, state, add_time, up_time, 
    dept
  </sql>

  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_sys_user
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_user
    where uid = #{uid,jdbcType=VARCHAR}
  </select>

  <!-- SysUser selectByUserName(String username) -->
  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select tsu.uid,tsu.avatar,tsu.nickname,tsu.password,tsu.username
    ,tsu.phone,tsu.mail,tsu.state,tsu.add_time,tsu.up_time,tsu.dept,
    tsr.rid,tsr.name,tsr.describe
    from t_sys_user AS tsu
    LEFT JOIN t_sys_user_role AS tsur ON tsur.user_uid = tsu.uid
    LEFT JOIN t_sys_role AS tsr ON tsr.rid = tsur.role_rid
    where tsu.username = #{username,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_sys_user
    where uid = #{uid,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.ifsaid.admin.entity.SysUser">
    insert into t_sys_user (uid, avatar, username, 
      nickname, password, phone, 
      mail, state, add_time, 
      up_time, dept)
    values (#{uid,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{mail,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{upTime,jdbcType=TIMESTAMP}, #{dept,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="com.ifsaid.admin.entity.SysUser">
    insert into t_sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="upTime != null">
        up_time,
      </if>
      <if test="dept != null">
        dept,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTime != null">
        #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.ifsaid.admin.entity.SysUser">
    update t_sys_user
    <set>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upTime != null">
        up_time = #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dept != null">
        dept = #{dept,jdbcType=INTEGER},
      </if>
    </set>
    where uid = #{uid,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.ifsaid.admin.entity.SysUser">
    update t_sys_user
    set avatar = #{avatar,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      up_time = #{upTime,jdbcType=TIMESTAMP},
      dept = #{dept,jdbcType=INTEGER}
    where uid = #{uid,jdbcType=VARCHAR}
  </update>

</mapper>