<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <springProperty scope="context" name="applicationName"
                    source="spring.application.name" defaultValue="spring-restful-api"/>

    <!-- 单个日志文件的最大，尺寸 -->
    <springProperty scope="context" name="maxFileSize"
                    source="logging.file.max-size" defaultValue="50MB"/>

    <!-- 日志保留时长 (天) -->
    <springProperty scope="context" name="maxHistory"
                    source="logging.file.max-history" defaultValue="7"/>

    <!-- 日志文件路径 -->
    <springProperty scope="context" name="logDir"
                    source="logging.path" defaultValue="./logs"/>

    <contextName>${applicationName}</contextName>

    <!-- 彩色日志 -->
    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

    <!--  开发环境和测试环境，日志输出到控制台  -->
    <springProfile name="dev,test,demo">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" charset="UTF-8">
                <Pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }) %clr(---){faint} %clr([%10t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex</Pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>


    <!--  生产环境，日志输出到文件  -->
    <springProfile name="prod,pro">
        <!-- info日志 appender  -->
        <appender name="FILE_LOGS" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${logDir}/log-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
                <maxHistory>${maxHistory}</maxHistory>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>${maxFileSize}</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" charset="UTF-8">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%t] %-40.40logger{39} : %m%n%wex</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="FILE_LOGS"/>
        </root>
    </springProfile>


</configuration>
